* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(222, 216, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 60px);
}

.square {
    width: 60px;
    height: 60px;
}

.white {
    background-color: #fff;
}

.black {
    background-color: #000;
}

@media screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(8, 40px);
    }
    
    .square {
        width: 40px;
        height: 40px;
    }
}